<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Website.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <sectionGroup name="Emc.Documentum">
      <sectionGroup name="FS">
        <section name="ConfigObject" type="Emc.Documentum.FS.Runtime.Impl.Configuration.XmlSerializerSectionHandler, Emc.Documentum.FS.Runtime"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <Emc.Documentum>
    <FS>
      <ConfigObject type="Emc.Documentum.FS.Runtime.Impl.Configuration.ConfigObject, Emc.Documentum.FS.Runtime" defaultModuleName="core" registryProviderModuleName="core" requireSignedUcfJars="true">
        <ModuleInfo name="core"           protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
        <ModuleInfo name="search"         protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
        <ModuleInfo name="bpm"            protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
        <ModuleInfo name="collaboration"  protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
        <ModuleInfo name="custom"         protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
      </ConfigObject>
      <!-- <ConfigObject type="Emc.Documentum.FS.Runtime.Impl.Configuration.ConfigObject, Emc.Documentum.FS.Runtime" defaultModuleName="core" registryProviderModuleName="core" requireSignedUcfJars="true">
        <ModuleInfo name="core"           protocol="http" host="ecmcgy" port="80" contextRoot="services"/>
        <ModuleInfo name="search"         protocol="http" host="ecmcgy" port="80" contextRoot="services"/>
        <ModuleInfo name="bpm"            protocol="http" host="ecmcgy" port="80" contextRoot="services"/>
        <ModuleInfo name="collaboration"  protocol="http" host="ecmcgy" port="80" contextRoot="services" />
        <ModuleInfo name="custom"         protocol="http" host="ecmcgy" port="80" contextRoot="services"/>
      </ConfigObject>
      -->
    </FS>
  </Emc.Documentum>

  <appSettings>


    <!-- 
    DEVL
    <add key="OleDBConnectionString" value="Provider=MSDAORA.1;Password=admin;User ID=proact;Data Source=PROACT_devl; "/>
    <add key="DocBase" 		      value="CorporateDev"	/>
    <add key="DocBrokerHost" 	  value="ecmrepd01"	    />
    <add key="CrystalUser" 	    value="proact"		    />
    <add key="CrystalPassword" 	value="admin"		      />
    <add key="CrystalDB" 	      value="proact_devl"	  />
    <add key="TitleMSG" 		    value=" DEV Phase 1.0 "/>
    <add key="Environmnet" 		  value=" (from Development system)"	    />
    <add key="DocConnectionString"  value="DOCBASE=CorporateDev;USER=proactsys;PWD=Proactatt1;LOCATION=Calgary"/>
    
    TEST
    <add key="OleDBConnectionString" value="Provider=MSDAORA.1;Password=admin;User ID=proact;Data Source=PROACT_TEST; "/>
    <add key="DocBase" 		      value="cgy_corp_apps1_test"	/>
    <add key="DocBrokerHost" 	  value="ecmrept01"	    />
    <add key="CrystalUser" 	    value="proact"		    />
    <add key="CrystalPassword" 	value="admin"		      />
    <add key="CrystalDB" 	      value="proact_TEST"	  />
    <add key="TitleMSG" 		    value=" TEST Phase 1.0 "/>
    <add key="Environmnet" 		  value=" (from Test system)"	    />
    <add key="DocConnectionString"  value="DOCBASE=corporatetest;USER=proactsys;PWD=Proactatt1;LOCATION=Calgary"/>\ 
     <add key="DocBrokerPort" 		    value="1489"
	
    <FS>
      <ConfigObject type="Emc.Documentum.FS.Runtime.Impl.Configuration.ConfigObject, Emc.Documentum.FS.Runtime" defaultModuleName="core" registryProviderModuleName="core" requireSignedUcfJars="true">
        <ModuleInfo name="core"           protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
        <ModuleInfo name="search"         protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
        <ModuleInfo name="bpm"            protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
        <ModuleInfo name="collaboration"  protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
        <ModuleInfo name="custom"         protocol="http" host="ecmwebt01" port="7777" contextRoot="services"/>
      </ConfigObject>
    </FS>
    
    PROD
    <add key="OleDBConnectionString" value="Provider=MSDAORA.1;User ID=proact;password=aw3tho0p;Data Source=proact_prod;Persist Security Info=False" />
    <add key="DocBase" 		      	value="cgy_corp_apps1"	    />
    <add key="DocBrokerHost" 	  	value="ecmrepp01"		    />
    <add key="CrystalUser" 	    	value="proact"		    />
    <add key="CrystalPassword" 		value="aw3tho0p"	    />
    <add key="CrystalDB" 	      	value="proact_PROD"	  />
    <add key="TitleMSG" 		value=""/>
    <add key="Environmnet" 		value=" (from Production system)"	    />
    <add key="DocConnectionString"  value="DOCBASE=cgy_corp_apps1;USER=proactsys;PWD=Proactatt1;LOCATION=Calgary"/>
    <FS>
      <ConfigObject type="Emc.Documentum.FS.Runtime.Impl.Configuration.ConfigObject, Emc.Documentum.FS.Runtime" defaultModuleName="core" registryProviderModuleName="core" requireSignedUcfJars="true">
        <ModuleInfo name="core"           protocol="http" host="ecmcgy" port="80" contextRoot="services"/>
        <ModuleInfo name="search"         protocol="http" host="ecmcgy" port="80" contextRoot="services"/>
        <ModuleInfo name="bpm"            protocol="http" host="ecmcgy" port="80" contextRoot="services"/>
        <ModuleInfo name="collaboration"  protocol="http" host="ecmcgy" port="80" contextRoot="services" />
        <ModuleInfo name="custom"         protocol="http" host="ecmcgy" port="80" contextRoot="services"/>
      </ConfigObject>
    </FS>
    
    -->

    <!-- Change the set of data below -->
    <add key="OleDBConnectionString" value="Provider=MSDAORA.1;Password=admin;User ID=proact;Data Source=PROACT_TEST; "/>
    <add key="DocBase" 		      value="cgy_corp_apps1_test"	/>
    <add key="DocBrokerHost" 	  value="ecmrept01"	    />
    <add key="CrystalUser" 	    value="proact"		    />
    <add key="CrystalPassword" 	value="admin"		      />
    <add key="CrystalDB" 	      value="proact_TEST"	  />
    <add key="TitleMSG" 		    value=" TEST Phase 1.0 "/>
    <add key="Environmnet" 		  value=" (from Test system)"	    />
    <add key="DocConnectionString"  value="DOCBASE=cgy_corp_apps1_test;USER=proactsys;PWD=Proactatt1;LOCATION=Calgary"/>
    <add key="DocBrokerPort" 		    value="1489" />
    
      <!-- These shouldn't change from env to env  -->
      
      <add key="DocumentumCabinet" 	  value="/Application Documents/PROACT/LessonsLearned"/>
      <add key="DocumentumAccessor" 		value="pcproactgroup"	  />
      <add key="DocumentumCustomType" value="pa_attachments"	/>
      <add key="DocumentumUser" 		  value="proactsys"	      />
      <add key="DocumentumUserPassword" 	value="Proactatt1"	/>
      <add key="DocumentumAttribute" 	value="pa_classcode"	  />
      <add key="DocumentumACL" 		    value="pcproactacl"	    />
      <add key="UserDomain" 		      value="$PCA"		        />
      <add key="Documentum6_5" 		    value="True"	          />


      <!-- Excel Template Worksheet -->
      <add key="Worksheet" 		value="[TEMPLATE$]"	            />

      <!-- Exception Handling-->
      <add key="ErrorEmailTo" 		      value="rpodulsk@petro-canada.ca"	    />
      <add key="ErrorEmailFrom" 		    value="do.not.reply@petro-canada.com"	/>
      <add key="ErrorEmailSmtpServer" 	value="smtp.pcacorp.net"		        />


    </appSettings>
  <connectionStrings/>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--
    <customErrors mode="Off" />
    -->
    <customErrors mode="Off" defaultRedirect="GenericError.aspx"/>
    <!-- GM: added this so it doesnt need to be set on every screen -->
    <globalization culture="auto" uiCulture="auto" />
  </system.web>
  <applicationSettings>
    <Website.Properties.Settings>
      <setting name="Website_pcaw2s1_EnterpriseAuthenticationWebService"
          serializeAs="String">
        <value>http://pcaw2s1/EAuthWS/EnterpriseAuthenticationWebService.asmx</value>
      </setting>
    </Website.Properties.Settings>
  </applicationSettings>

  <!-- Code below is for the Documentum 6.5 Release -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DfsAgentService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="50000000" maxBufferPoolSize="100000000" maxReceivedMessageSize="50000000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DfsContextRegistryService" closeTimeout="00:01:00"
                   openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                   maxBufferSize="50000000" maxBufferPoolSize="100000000" maxReceivedMessageSize="50000000"
                   messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                   useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="DfsDefaultService" closeTimeout="00:01:00"
                          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                          maxBufferSize="50000000" maxBufferPoolSize="100000000" maxReceivedMessageSize="50000000"
                          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
