<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Website.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="OleDBConnectionString" value="Provider=MSDAORA.1;Password=admin;User ID=proact;Data Source=PROACT_TEST; "/>
  
    <add key="CrystalUser" value="proact"/>
    <add key="CrystalPassword" value="admin"/>
    <add key="CrystalDB" value="proact_devl"/>

    <!-- 
     <add key="DocBase" value="corporatetest"/>
    <add key="DocBrokerHost" value="ecmrept01"/>
    -->

    <add key="DocBase" value="CorporateDev"/>
    <add key="DocBrokerHost" value="pcad2S1"/>
    <add key="DocBrokerPort" value="1489"/>
    <add key="DocumentumCabinet" value="/Application Documents/PROACT/LessonsLearned"/>
    <add key="DocumentumAccessor" value="pcproactgroup"/>
    <add key="DocumentumCustomType" value="pa_attachments"/>
    <add key="DocumentumUser" value="proactsys"/>
    <add key="DocumentumUserPassword" value="Proactatt1"/>
    <add key="DocumentumAttribute" value="pa_classcode"/>
    <add key="UserDomain" value="$PCA"/>

    <!-- Excel Template Worksheet -->
    <add key="Worksheet" value="[TEMPLATE$]"/>

    <!-- Exception Handling-->
    <add key="ErrorEmailTo" value="rpodulsk@petro-canada.ca"/>
    <add key="ErrorEmailFrom" value="do.not.reply@petro-canada.ca"/>
    <add key="ErrorEmailSmtpServer" value="PCAXS04.pcacorp.net"/>
    <add key="Environmnet" value=" (from DEVELOPMENT system)"/>
    
  </appSettings>
    <connectionStrings/>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      <!--
    <customErrors mode="Off" />
    -->
      <customErrors mode="On" defaultRedirect="GenericError.aspx"/>
    
      
    </system.web>
    <applicationSettings>
        <Website.Properties.Settings>
            <setting name="Website_pcaw2s1_EnterpriseAuthenticationWebService"
                serializeAs="String">
                <value>http://pcaw2s1/EAuthWS/EnterpriseAuthenticationWebService.asmx</value>
            </setting>
        </Website.Properties.Settings>
    </applicationSettings>
</configuration>
